
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/${basePath}/index');">\${i18nMap["admin.common.mainPage"]}</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('\${pthc}');">${pageTitle}管理</a></li>
			<li class="active">查看</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">查看</span></h4>
				<div class="panel-tools">										
					\<% include("/common/panel-tools.html"){} %>
				</div>
			</div>
			<div class="panel-body">	
				<form role="form" class="form-horizontal">
					<% for(colunm in colunmList){ %>
						<div class="form-group">
							<label class="col-sm-2 control-label">${colunm.column_desc!} </label>
							<div class="col-sm-7">
						<% if(strutil.contain(colunm.clm_type,"char")){%>
							<input type="text" class="form-control" readonly="readonly" value="\${escapeXml(${classNameSmall}.${colunm.column_name}!)}">
						<%}else if(strutil.contain(colunm.clm_type,"text")){%>
							<textarea class="autosize form-control" readonly="readonly">\${escapeXml(${classNameSmall}.${colunm.column_name}!)}</textarea>
						<%}else if(strutil.contain(colunm.clm_type,"time")){%>
							<input type="text" class="form-control" readonly="readonly" value="\${${classNameSmall}.${colunm.column_name}!, dateFormat="yyyy-MM-dd HH:mm:ss"}">
						<%}else if(strutil.contain(colunm.clm_type,"boo")){%>
							<input type="text" class="form-control" readonly="readonly" value="\${${classNameSmall}.${colunm.column_name}!==0?"否":"是"}">
						<%}else{%>
							<input type="text" class="form-control" readonly="readonly" value="\${${classNameSmall}.${colunm.column_name}!}">
						<%}%>
							</div>
						</div>
					<% } %>
				</form>
			</div>
		
		</div>
	</div>
</div>	
