<% var cssSec={ %>
<link href="${cxt!}/ui/rapido/assets/css/styles.css" rel="stylesheet">
<style>
.text-extra-large {
    font-size: 34px !important;
}

.panel-title {
    font-size: 24px;
}

.breathe-btn {
	position:relative;
	line-height:40px;
	border:1px solid #2b92d4;
	border-radius:5px;
	color:#fff;
	font-size:20px;
	text-align:center;
	cursor:pointer;
	box-shadow:0 1px 2px rgba(0,0,0,.3);
	overflow:hidden;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#6cc3fe),to(#21a1d0));
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-name:breathe;
	-webkit-animation-duration:2700ms;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
}
@-webkit-keyframes breathe {
	0% {
	opacity:.2;
	box-shadow:0 1px 2px rgba(255,255,255,0.1);
}
100% {
	opacity:1;
	border:1px solid rgba(59,235,235,1);
	box-shadow:0 1px 30px rgba(59,255,255,1);
}

</style>
<% }; %> <% var contSec={ %>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->

<div class="toolbar row">
	<div class="col-sm-6 hidden-xs">
		<div class="page-header">
			<h1>
				
			</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12 ">
		<div class="panel panel-blue">
			<div class="panel-heading border-light">
				<h2 class="panel-title center">Preprocess Status</h2>
			</div>
			<div class="panel-body no-padding">
				<div class="padding-10">
					<h4 class="no-margin inline-block padding-5">Status</h4>
				</div>
				<div class="clearfix padding-5 space5">
					<div class="col-xs-12 text-center no-padding breathe-btn">
							<span class="text-bold block text-extra-large">Running</span>
					</div>
				</div>
			</div>
			
			<div class="panel-body no-padding">
				<div class="padding-10">
					<h4 class="no-margin inline-block padding-5">Statistics</h4>
				</div>
				<div class="clearfix padding-5 space5">
					<div class="col-xs-4 text-center no-padding">
						<div class="border-right border-dark">
							<span class="text-bold block text-extra-large">12</span> <span
								class="text-light">To Do</span>
						</div>
					</div>
					<div class="col-xs-4 text-center no-padding">
						<div class="border-right border-dark">
							<span class="text-bold block text-extra-large">10</span> <span
								class="text-light">Successful</span>
						</div>
					</div>
					<div class="col-xs-4 text-center no-padding">
						<span class="text-bold block text-extra-large">2</span> <span
							class="text-light">Failed</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-6 col-md-12 ">
		<div class="panel panel-blue">
			<div class="panel-heading border-light">
				<h2 class="panel-title center">Drought Status</h2>
			</div>
			<div class="panel-body no-padding">
				<div class="padding-10">
					<h4 class="no-margin inline-block padding-5">Status</h4>
				</div>
				<div class="clearfix padding-5 space5">
					<div class="col-xs-12 text-center no-padding breathe-btn">
							<span class="text-bold block text-extra-large">Running</span>
					</div>
				</div>
			</div>
			
			<div class="panel-body no-padding">
				<div class="padding-10">
					<h4 class="no-margin inline-block padding-5">Statistics</h4>
				</div>
				<div class="clearfix padding-5 space5">
					<div class="col-xs-4 text-center no-padding">
						<div class="border-right border-dark">
							<span class="text-bold block text-extra-large">12</span> <span
								class="text-light">To Do</span>
						</div>
					</div>
					<div class="col-xs-4 text-center no-padding">
						<div class="border-right border-dark">
							<span class="text-bold block text-extra-large">10</span> <span
								class="text-light">Successful</span>
						</div>
					</div>
					<div class="col-xs-4 text-center no-padding">
						<span class="text-bold block text-extra-large">2</span> <span
							class="text-light">Failed</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-6 col-md-12 ">
		<div class="panel panel-blue">
			<div class="panel-heading border-light">
				<h2 class="panel-title center">Growth Status</h2>
			</div>
			<div class="panel-body no-padding">
				<div class="padding-10">
					<h4 class="no-margin inline-block padding-5">Status</h4>
				</div>
				<div class="clearfix padding-5 space5">
					<div class="col-xs-12 text-center no-padding breathe-btn">
							<span class="text-bold block text-extra-large">Running</span>
					</div>
				</div>
			</div>
			
			<div class="panel-body no-padding">
				<div class="padding-10">
					<h4 class="no-margin inline-block padding-5">Statistics</h4>
				</div>
				<div class="clearfix padding-5 space5">
					<div class="col-xs-4 text-center no-padding">
						<div class="border-right border-dark">
							<span class="text-bold block text-extra-large">12</span> <span
								class="text-light">To Do</span>
						</div>
					</div>
					<div class="col-xs-4 text-center no-padding">
						<div class="border-right border-dark">
							<span class="text-bold block text-extra-large">10</span> <span
								class="text-light">Successful</span>
						</div>
					</div>
					<div class="col-xs-4 text-center no-padding">
						<span class="text-bold block text-extra-large">2</span> <span
							class="text-light">Failed</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<div class="col-lg-6 col-md-12 ">
		<div class="panel panel-blue">
			<div class="panel-heading border-light">
				<h2 class="panel-title center">Yield Status</h2>
			</div>
			<div class="panel-body no-padding">
				<div class="padding-10">
					<h4 class="no-margin inline-block padding-5">Status</h4>
				</div>
				<div class="clearfix padding-5 space5">
					<div class="col-xs-12 text-center no-padding breathe-btn">
							<span class="text-bold block text-extra-large">Running</span>
					</div>
				</div>
			</div>
			
			<div class="panel-body no-padding">
				<div class="padding-10">
					<h4 class="no-margin inline-block padding-5">Statistics</h4>
				</div>
				<div class="clearfix padding-5 space5">
					<div class="col-xs-4 text-center no-padding">
						<div class="border-right border-dark">
							<span class="text-bold block text-extra-large">12</span> <span
								class="text-light">To Do</span>
						</div>
					</div>
					<div class="col-xs-4 text-center no-padding">
						<div class="border-right border-dark">
							<span class="text-bold block text-extra-large">10</span> <span
								class="text-light">Successful</span>
						</div>
					</div>
					<div class="col-xs-4 text-center no-padding">
						<span class="text-bold block text-extra-large">2</span> <span
							class="text-light">Failed</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% }; %> <% var jsSec={ %> <% }; %> <%
include("layout.html",{cssSec:cssSec,contSec:contSec,jsSec:jsSec}){} %>
