    <!-- Sidebar -->
    <aside id="sidebar">
        <!-- Side Menu -->
          <ul class="nav nav-sidebar">
            <li style="margin-bottom:20px;"><p class="function_text">Function Menu</p></li>
            <li class="${user_management!}"><a href="${cxt!}/jf/thairice/admin/user/user_management">Users Management</a></li>
            <li><a href="${cxt!}/jf/thairice/t3user?account=admin" target="view_window">Products Query</a></li>
            <li class="${sysmonitor!}"><a href="${cxt!}/jf/thairice/sysmonitor">System Status</a></li>
            <li class="${t6org_data!}"><a href="${cxt!}/jf/thairice/t6org_data">Data Management</a></li>
            <li class="${queryAllParm!}"><a href="${cxt!}/jf/thairice/t1parameter/queryAllParm">Products Setup</a></li>
            <li class="${t2syslog!}"><a href="${cxt!}/jf/thairice/t2syslog">Logs Management</a></li>
            <li class="${profile!}"><a href="${cxt!}/jf/thairice/admin/user/data_selfinfo">Profile</a></li>
            <li class="${message!}"><a href="${cxt!}/jf/thairice/t8message">My Message</a></li>
            <li class="${t15_news_cnt!}"><a href="${cxt!}/jf/thairice/t15_news_cnt">News Management</a></li>
          </ul>
    </aside>