 <ul class="nav nav-sidebar">
            <li style="margin-bottom:20px;"><p class="function_text">Function menu</p></li>
            <li><a href="${cxt!}/jf/thairice/admin/user/main">Operator management <span class="sr-only">(current)</span></a></li>
            <li><a href="${cxt!}/jf/thairice/admin/user/user_management">User management</a></li>
            <li><a href="${cxt!}/jf/thairice/t3user" target="view_window">Product data query</a></li>
            <li><a href="${cxt!}/jf/thairice/sysmonitor">System monitor</a></li>
            <li><a href="${cxt!}/jf/thairice/t6org_data">Data management</a></li>
            <li><a href="${cxt!}/jf/thairice/t1parameter/queryAllParm">Production configuration</a></li>
            <li><a href="${cxt!}/jf/thairice/t2syslog">Log management</a></li>
            <li><a href="${cxt!}/jf/thairice/admin/user/data_selfinfo">Personal center</a></li>
            <li><a href="${cxt!}/jf/thairice/t8message">My message</a></li>
          </ul>