
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/thairice/index');">${i18nMap["admin.common.mainPage"]}</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('${pthc}');">产品展示信息管理</a></li>
			<li class="active">查看</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">查看</span></h4>
				<div class="panel-tools">										
					<% include("/common/panel-tools.html"){} %>
				</div>
			</div>
			<div class="panel-body">	
				<form role="form" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">id </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t16_pdt_sample.id!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">rice_planting_area </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t16_pdt_sample.rice_planting_area!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">rice_drought </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t16_pdt_sample.rice_drought!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">rice_condition </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t16_pdt_sample.rice_condition!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">rice_production </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t16_pdt_sample.rice_production!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">图片路径 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t16_pdt_sample.pic_path!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">产品描述 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t16_pdt_sample.pdt_desc!)}">
							</div>
						</div>
				</form>
			</div>
		
		</div>
	</div>
</div>	
