<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale-1">
<title>后台登录</title>
<link type="text/css" rel="stylesheet" href="${cxt!}/ui/thairice/CSS/base.css">
<link type="text/css" rel="stylesheet" href="${cxt!}/ui/thairice/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="${cxt!}/ui/thairice/CSS/backend_login.css">
</head>
<body style="background:url(${cxt!}/ui/thairice/Images/backend_login/big_bg.jpg) no-repeat; background-size:100%;">
    <div class="BbBackendloginWrap">
    	<div class="BbBackendlogin">
        	<form role="form"  id="form">
            	<p class="text-center text-uppercase">< <span class="text01">administrator</span> <span class="text02">login</span> ></p>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your account" id="account" name="account">
                    <input type="password" class="form-control" placeholder="Password"  id="pass">
                    <div class="form-group" style="margin-left:0;">
                    <input type="text" id="authCode"  name="authCode"  class="form-control" style="width:200px; float:left; margin-top:0;" placeholder="Verification code"><img id="autoCode" onclick="refresh()" style="width: 75px;border-radius: 3px;height: 32px;margin-left: 10px;cursor: pointer;" src="${cxt!}/jf/platform/authImg"/></span><span class="checkcode_text"  style="margin-left: 10px;" onclick="refresh()">Refresh</span>
                    </div>
                </div>
                <div class="form-group">
                    <a type="button" class="btn btn-info btn-lg backend_btn" role="button"  onclick="Login()">LOG IN</a>
                </div>
                <div class="form-group" style="margin-bottom:5px;">
                    <p class="line">or</p>
                </div>
                <div class="form-group">
                    <a class="forget_password" href="${cxt!}/jf/thairice/admin/user/find_pass">Forget password</a>
                </div>
            </form>
        </div>
    </div>
<script src="${cxt!}/ui/thairice/JS/jquery-2.0.0.min.js"></script>
<script src="${cxt!}/ui/thairice/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="${cxt!}/ui/thairice/JS/layer/layer.js"></script>
<script type="text/javascript" src="${cxt!}/ui/thairice/JS/md5.js"></script>
<script type="text/javascript" src="${cxt!}/ui/thairice/common.js"></script>
<script type="text/javascript"> 
    //刷新验证码
     function refresh (){
        var verify=document.getElementById('autoCode');
        verify.setAttribute('src','${cxt!}/jf/platform/authImg?rand='+Math.random());
     }
     //登录
     function Login(){
    	 var accountVal = $("#account").val();
	     var passwordVal = $("#pass").val();
	          if (accountVal == null || accountVal.trim() == '') {
	            showMessage("Account is  required and can\'t be empty");
	            return;
	        }
	        if (passwordVal == null || passwordVal.trim() == '') {
	            showMessage("Password is  required and can\'t be empty");
	            return;
	        }
    	showLoading();
        sendAjax("${cxt!}/jf/thairice/admin/user/Login", $("#form").serialize()+'&pass='+hex_md5($("#pass").val()), function (res) {
        	  cancelLoading();   
        	  layer.msg(res.desc, {icon: 6});
               if(res.code==1){
                   if ("${returnUrl!}"== '') {
                       window.location.href = "${cxt!}/jf/thairice/admin/user/main";
                   } else {
                       window.location.href = "${cxt!}${returnUrl}";
                   }
               }else{
            	   refresh ();
               }
        }) 
     }
	//键盘事件
	$('#authCode').bind('keyup', function(event) {
		if (event.keyCode == "13") {
			Login();
		}
	});
</script>
</body>
</html>
