<% var cssSec={ %>
<style>
.input-group{width: 250px;float: right;}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td{vertical-align: middle;text-align: left;}
.even{background-color: rgb(219, 239, 246)!important;}
</style>
<% }; %>
 <link type="text/css" rel="stylesheet" href="${cxt!}/ui/thairice/CSS/bootstrapValidator.css">
 <% var contSec={ %>
     <!--操作按钮-->
            <div class="data-btns" style="margin-top: -50px;">
                <button type="button" class="btn btn-success btn-sm" onclick="op('add')"><i class="glyphicon glyphicon-plus"></i>Add</button>
                <button type="button" class="btn btn-warning btn-sm" onclick="op('edit')"><i class="glyphicon glyphicon-edit"></i>Edit</button>
                <button type="button" class="btn btn-info btn-sm"   onclick="op('export')" style="width: auto;float: right;"><i class="glyphicon glyphicon-log-in"></i>Export to Excel</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn-del"><i class="glyphicon glyphicon-trash"></i>Delete</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="javascript:location.replace(location.href);"><i class="glyphicon glyphicon-refresh"></i>Refresh</button>
            </div>
            <div class="table-responsive">
                <!--搜索-->
                <div class="input-group">
                    <input type="text" id="search" class="form-control" placeholder="Content">
                    <span class="input-group-btn"><button id="btn_search" class="btn btn-primary" type="button">Search</button></span>
                </div>
                <table class="table table-bordered data-table" id="dataTable01" width="100%" cellspacing="0"
                       align="left">
                    <thead>
                    <tr>
                        <th width="8%"><input type="checkbox" name="cb-check-all">Select all</th>
                        <th>Account</th>
                        <th>Mob</th>
                        <th>Email address</th>
                        <th>Nickname</th>
                        <th>Creation time</th>
                    </tr>
                    </thead>
                </table>
            </div>
<!-- add Modal-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Add operator</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="addForm">
                    <div class="alert alert-success">
             All operator initial passwords are:123456！
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" style="width:120px;">* Account</label>
                        <div class="col-md-9" style="width:470px;">
                            <input type="text" class="form-control" placeholder="Jone"  id="account" name="t3user.account" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" style="width:120px;">* Mob</label>
                        <div class="col-md-9" style="width:470px;">
                            <input type="text" class="form-control" placeholder="+0808899999" id="phone" name="t3user.phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" style="width:120px;">* Email</label>
                        <div class="col-md-9" style="width:470px;">
                            <input type="email" class="form-control" placeholder="jone@example.com" id="email" name="t3user.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" style="width:120px;">* Nickname</label>
                        <div class="col-md-9" style="width:470px;">
                            <input type="text" class="form-control" placeholder="Yingluck Chinnawat" id="name_" name="t3user.name_">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" style="width:120px;">Organization</label>
                        <div class="col-md-9" style="width:470px;">
                            <input type="text" class="form-control" placeholder="Your current job" id="company" name="t3user.company">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" style="width:120px;">Address</label>
                        <div class="col-md-9" style="width:470px;">
                            <input type="text" class="form-control" placeholder="Address" id="address" name="t3user.address" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" style="width:120px;">Industry</label>
                        <div class="col-md-9" style="width:470px;">
                            <select class="form-control" name="t3user.industry" id="industry">
                                <option value="agricultural">Agricultural</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="userid" name="t3user.id">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button"  onclick="save()">Sure</button>
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<% }; %> <% var jsSec={ %>
<script src="${cxt!}/ui/thairice/JS/jquery.dataTables.js"></script>
<script src="${cxt!}/ui/thairice/JS/dataTables.bootstrap4.js"></script>
<script src="${cxt!}/ui/thairice/JS/sb-admin-datatables.min.js"></script>
<script src="${cxt!}/ui/thairice/JS/bootstrapValidator.js"></script>
<script type="text/javascript" src="${cxt!}/ui/thairice/JS/layer/layer.js"></script>
<script src="${cxt!}/ui/thairice/area-select/Area.js"></script>
<script src="${cxt!}/ui/thairice/area-select/AreaData_min.js"></script>
<script type="text/javascript" src="${cxt!}/ui/thairice/JS/layer/layer.js"></script>
<script src="${cxt!}/ui/thairice/common.js"></script>
<script>
    var $wrapper = $('#div-table-container');
    var $table = $('#dataTable01');
    var columns = [
        CONSTANT.DATA_TABLES.COLUMN.CHECKBOX,
        {"data": "account", orderable: false},
        {"data": "phone"},
        {"data": "email", orderable: false},
        {"data": "name_", orderable: false},
        {"data": "create_time", orderable: false},
        ]
    //初始化表格
    var _table = table.initTable($wrapper, $table, '${cxt!}/jf/thairice/admin/user/operator_list', columns);
    table.checkboxClick($table);
    var allSelect=false;
    $table.on("change", ":checkbox", function () {
        if ($(this).is("[name='cb-check-all']")) {
        	allSelect=true;
        } else {
        	allSelect=false;
        }
    })
    //添加或编辑
    function op(op){
        if(op=='add'){
            /*  $("#addForm").bootstrapValidator('resetForm'); */
        	//清空表单
        	$(':input','#addForm').val('');
        	$('#account').attr("disabled",false); 
            $("#ModalLabel").html("Add data");
            $("#addModal").modal('show');
            
        }else if(op=='edit'){
            $("#ModalLabel").html("Edit data");
            var data=getRowItem($table,_table);
            if(typeof(data)=='undefined'){return;}
            //设置账户不能修改
            $('#account').attr("disabled",true); 
            $("#userid").val(data.id);
            $("#account").val(data.account);
            $("#phone").val(data.phone);
            $("#email").val(data.email);
            $("#name_").val(data.name_);
            $("#company").val(data.company);
            $("#address").val(data.address);
            $("#addModal").modal('show');
        }else{
        	var ids=getIds($table, _table);
        	if(allSelect&&ids.length>0){
        		window.location.href="${cxt!}/jf/thairice/admin/user/export_operator?select=all";
        	}else{
        		if(ids.length==0){
        			layer.msg("Please choose at least one record", {icon: 2});
        			return;
        		 }
        		window.location.href="${cxt!}/jf/thairice/admin/user/export_operator?select=zd&ids="+ids;
        	}
        }
    }
    function save(){
    	 $("#addForm").bootstrapValidator('validate');
    	 if (!$("#addForm").data('bootstrapValidator').isValid()) {return;}
        sendAjax("${cxt!}/jf/thairice/admin/user/save", $("#addForm").serialize(), function (res) {
            showMessage(res.desc);
            $("#addForm").bootstrapValidator('resetForm');
            if (res.code == 1) {
                _table.draw();
                $("#addModal").modal('hide');
            }
        })
    }
    //删除
    $("#btn-del").click(function () {
        deleteRows('${cxt!}/jf/thairice/admin/user/delete', $table, _table);
    });
    //查询
    $("#btn_search").click(function () {
        _table.draw();
    });
    //拼装查询条件
    function getQueryCondition(data) {
        var param={};
        //组装排序参数
        if (data.order && data.order.length && data.order[0]) {
            switch (data.order[0].column) {
                case 1:
                    param.orderColumn = "id";
                    break;
                case 4:
                    param.orderColumn = "phone";
                    break;
            }
            param.orderDir = data.order[0].dir;
        }
        param.search = $("#search").val();//查询条件
        param.start = data.start;
        param.pageSize = data.length;
        param.draw = data.draw;
        param.name = data.name;
        return param;
    }
    //参数校验
    $(function () {
    $("#addForm").bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            /*输入框不同状态，显示图片的样式*/
            valid: 'glyphicon glyphicon-ok',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            /*验证*/
            't3user.account': {
                validators: {
                    notEmpty: {
                        message: 'The user name is  required and can\'t be empty '
                    },
                    regexp: {
                   	 regexp: /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/,
                       message: 'The user name is made up of 6 to 12 letters and Numbers'
                   },
                    remote: {//ajax验证。server result:{"valid",true or false}
                        url: '${cxt!}/jf/thairice/t3user/valiUserName',
                        message: 'User has already exist!',
                        delay: 2000,
                        type: 'POST',
                        //自定义参数
                        data: {
                            userName: function () {
                                return $('input[name="t3user.account"]').val();
                            }
                        }
                    }
                }
            },
           't3user.phone': {
            validators: {
                notEmpty: {
                    message: 'Phone is  required and can\'t be empty'
                },
                regexp: {
                    regexp: /^0\d{9}$/,
                    message: 'The phone format Is not correct'
                }
            }
        },
        't3user.email': {
            validators: {
                notEmpty: {
                    message: 'The email address is required and can\'t be empty'
                },
                emailAddress: {
                    message: 'The input is not a valid email address'
                }
            }
        },
        't3user.name_': {
            validators: {
                notEmpty: {
                    message: 'name is  required and can\'t be empty'
                }
            }
        }
      }
  });
 });  
    </script>
    <% }; %> <%
    include("../layout.html",{cssSec:cssSec,contSec:contSec,jsSec:jsSec}){}
    %>


