
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/thairice/index');">${i18nMap["admin.common.mainPage"]}</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('${pthc}');">预处理信息表管理</a></li>
			<li class="active">查看</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">查看</span></h4>
				<div class="panel-tools">										
					<% include("/common/panel-tools.html"){} %>
				</div>
			</div>
			<div class="panel-body">	
				<form role="form" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">预处理数据编号 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t12PreProcessInf.id!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">预处理数据类型 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t12PreProcessInf.data_type!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">源文件列表 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12PreProcessInf.source_file_list!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">预处理文件路径 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12PreProcessInf.file_path!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">预处理文件名 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12PreProcessInf.file_name!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">数据采集时间 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t12PreProcessInf.data_collect_time!, dateFormat="yyyy-MM-dd HH:mm:ss"}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">干旱监测处理状态 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t12PreProcessInf.drought_st!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">长势监测处理状态 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t12PreProcessInf.condition_st!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">估产处理状态 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t12PreProcessInf.estimate_st!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">预处理数据生成时间 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t12PreProcessInf.generate_time!, dateFormat="yyyy-MM-dd HH:mm:ss"}">
							</div>
						</div>
				</form>
			</div>
		
		</div>
	</div>
</div>	
