<% var cssSec={ %>
<style>
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td{vertical-align: middle;text-align: left;}
.even{background-color: rgb(219, 239, 246)!important;}
</style>
<% }; %>
<% var contSec={ %>
   	<div class="BbMessage" style="margin-top: -53px;">
      <div class="tab_btns" style="margin:15px 0;">
        <select class="form-control" style="width:180px; float:left; margin-right:15px;" id="type">
            <option value="">ALL</option>
            <option value="01">Notice</option>
            <option value="02">Announcement</option>
            <option value="03">Remind</option>
        </select>
        <button type="button" class="btn btn-danger" style="margin-right:10px;" id="btn-del">Delete the selected</button>
        <button type="button" class="btn btn-info" id="empty"><i class="glyphicon glyphicon-warning-sign"></i>Empty the list</button>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered data-table" id="dataTable01" width="100%" cellspacing="0" align="left" text-align="left">
          <thead>
            <tr>
              <th width="8%" style="border-bottom:none;"> <input type="checkbox" name="cb-check-all">
                Select all </th>
              <th width="8%" style="border-bottom:none;">Mail type</th>
              <th style="border-bottom:none;">Mail content</th>
              <th width="6%" style="border-bottom:none;">Time</th>
            </tr>
          </thead>
        </table>
      </div>
  </div>
<!-- Bootstrap core JavaScript
    ================================================== -->
    <% }; %> <% var jsSec={ %>
<script src="${cxt!}/ui/thairice/JS/jquery.dataTables.js"></script>
<script src="${cxt!}/ui/thairice/JS/dataTables.bootstrap4.js"></script>
<script src="${cxt!}/ui/thairice/JS/sb-admin-datatables.min.js"></script>
<script type="text/javascript" src="${cxt!}/ui/thairice/JS/layer/layer.js"></script>
<script src="${cxt!}/ui/thairice/common.js"></script>
<script>
    var $wrapper = $('#div-table-container');
    var $table = $('#dataTable01');
    var columns=[
      CONSTANT.DATA_TABLES.COLUMN.CHECKBOX,
      { "data": null,render: function (data, type, row, meta) {
    	  if(data.type_=='01'){
    		  return 'Notice';
    	  }else if (data.type_=='02'){
    		  return 'Announcement';
    	  }else if (data.type_=='03'){
    		  return 'Remind';
    	  }
      }},
      { "data": "content",orderable: false},
      { "data": "add_time",width:150}
    ]
    //初始化表格
    var _table = table.initTable($wrapper, $table, '${cxt!}/jf/thairice/t8message/jsonList', columns);
    table.checkboxClick($table);
    //删除选中的行
    $("#btn-del").click(function(){
        deleteRows('${cxt!}/jf/thairice/t8message/delete', $table, _table);
    });
    //选择消息类型
    $("#type").change(function () {
        _table.draw();
    });
    //清空全部消息
    $("#empty").click(function () {
        layer.confirm('Make sure to clear all messages', {icon: 2,title:'Tips',btn: ['Ok','Cancel']}, function (index) {
            sendAjax("${cxt!}/jf/thairice/t8message/empty_message",null,function(res){
                showMessage(res.desc);
                if(res.code==1){
                    _table.draw();
                }
            })
            layer.close(index);
        });
    });
    //拼装查询条件
    function getQueryCondition(data){
        var param = {};
        //组装排序参数
        if (data.order&&data.order.length&&data.order[0]) {
            switch (data.order[0].column) {
                case 1:
                    param.orderColumn = "id";//数据库列名称
                    break;
                case 1:
                    param.orderColumn = "id";//数据库列名称
                    break;
            }
            param.orderDir = data.order[0].dir;
        }
        param.type_ =$("#type").val();
        param.start = data.start;
        param.pageSize = data.length;
        param.draw = data.draw;
        param.name =data.name;
        return param;
    }
</script>
 <% }; %> <%
    include("../layout.html",{cssSec:cssSec,contSec:contSec,jsSec:jsSec}){}
    %>