
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/thairice/index');">${i18nMap["admin.common.mainPage"]}</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('${pthc}');">行政区管理</a></li>
			<li class="active">查看</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">查看</span></h4>
				<div class="panel-tools">										
					<% include("/common/panel-tools.html"){} %>
				</div>
			</div>
			<div class="panel-body">	
				<form role="form" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">行政区划id </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t11zone.id!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">行政区划代码 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t11zone.code_!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">产品类型代码 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t11zone.type_!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">行政区划名称 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t11zone.name_!)}">
							</div>
						</div>
				</form>
			</div>
		
		</div>
	</div>
</div>	
