
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/datamotion/index');">${i18nMap["admin.common.mainPage"]}</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('${pthc}');">模块配置管理</a></li>
			<li class="active">查看</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">查看</span></h4>
				<div class="panel-tools">										
					<% include("/common/panel-tools.html"){} %>
				</div>
			</div>
			<div class="panel-body">	
				<form role="form" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">自增id </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t12_initmodule.id!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">唯一key </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.key_!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">配置节点keys串 </label>
							<div class="col-sm-7">
							<textarea class="autosize form-control" readonly="readonly">${escapeXml(t12_initmodule.fkeystreenode!)}</textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">接收站名称 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.station!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">飞行器 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.aircraft!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">载荷名称 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.sensor!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">数据类型 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.datatype!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">数据级别 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.datalevel!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">产品标识 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.camera!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">ftp 地址ip:port </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.ftpaddr!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">ftp用户名 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.ftpusername!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">ftp密码 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.ftpuserpwd!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">ftp路径 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.pathftp!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">是否自动下载 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t12_initmodule.isdwnload!==0?"否":"是"}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">下载路径 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.pathdwnload!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">是否自动备份 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t12_initmodule.isbackup!==0?"否":"是"}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">备份路径 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.pathbackup!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">是否自动归档 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t12_initmodule.isarchive!==0?"否":"是"}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">归档路径 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.patharchive!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">是否自动检出 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t12_initmodule.ischeckout!==0?"否":"是"}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">源名称模式 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.namemdlsrc!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">检出路径 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.pathcheckout!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">检出名称模式 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.namemdldes!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">是否有辅助文件 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t12_initmodule.ishavaaux!==0?"否":"是"}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">辅助文件类型 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t12_initmodule.auxfiletypes!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">状态 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t12_initmodule.status_!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">添加时间 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t12_initmodule.timeadd!, dateFormat="yyyy-MM-dd HH:mm:ss"}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">更新时间 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t12_initmodule.timeupdate!, dateFormat="yyyy-MM-dd HH:mm:ss"}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">标签id串 </label>
							<div class="col-sm-7">
							<textarea class="autosize form-control" readonly="readonly">${escapeXml(t12_initmodule.labelids!)}</textarea>
							</div>
						</div>
				</form>
			</div>
		
		</div>
	</div>
</div>	
