<!-- <link href="${cxt!}/ui/thairice/CSS/dataTables.bootstrap4.css" rel="stylesheet">
<link href="${cxt!}/ui/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"> -->
<style>
.pagination {
	display: -webkit-box;
  display: -ms-flexbox; 
   display: flex; 
   flex-direction: row;
   justify-content:flex-end;
   padding-right: 0; 
   list-style: none;
  border-radius: 0.25rem; 
  
}

.pagination2 {
	display: -webkit-box;
  display: -ms-flexbox; 
   display: flex; 
   flex-direction: row;
   padding-right: 0; 
   list-style: none;
  border-radius: 0.25rem; 
  
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 1;
/*   color: #fff;
  background-color: #007bff;
  border-color: #007bff; */
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
</style>

<% //macro paginate currentPage totalPage actionUrl urlParas=""%>
	<%
	if (totalPage <= 0 || currentPage > totalPage) return; 
	var startPage = currentPage - 4;
	if(startPage<1){
		startPage=1;
	}
	var endPage = currentPage+4;
	if(endPage>totalPage){
		endPage = totalPage;
	}
	%>

<div class="row">
	<div class="col-sm-8 col-md-5">
		<div  id="dataTable01_info" class="pagination2" style="margin-top:0px;"  role="status" aria-live="polite">Showing ${currentPage} of ${totalPage} pages</div>
	</div>
	<div class="col-sm-11 col-md-7" text-align="right">
<!-- 		<div class="dataTables_paginate paging_simple_numbers" id="dataTable01_paginate"> -->
	<ul class="pagination" style="margin-right:0px;margin-top:0px;" >
			<%
			if(currentPage <= 8){
				startPage = 1;
			}
			if(totalPage-currentPage < 8){
				endPage = totalPage;
			}
			if(currentPage==1){			
			%>
			
			<li class="paginate_button page-item previous">
				<span  data-dt-idx="0" tabindex="0" class="page-link">Previous</span>
			</li>
			<%}else{%>	
			<li class="paginate_button page-item previous">
			<a href="${actionUrl}${currentPage - 1}${urlParas!}" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>	
			</li>		
			<%}%>
			
			<%if(currentPage > 8){%>
			<li class="paginate_button page-item">
				<a href="${actionUrl}1${urlParas!}" data-dt-idx="1" tabindex="0" class="page-link">1</a>
			</li>
			
			<li class="paginate_button page-item">
			<a href="${actionUrl}2${urlParas!}" data-dt-idx="1" tabindex="0" class="page-link">2</a>
			</li>
				<span class="gap">...</span>
			<%}%>
			
			<%
			var index = startPage;	
			while(index<=endPage){%>
			    <%if(currentPage == index){%>
			    <li class="paginate_button page-item active">
					<span data-dt-idx="1" tabindex="0" class="page-link">${index}</span>
				</li>
				<%}else{%>
				<li class="paginate_button page-item">
					<a href="${actionUrl+index}${urlParas!} data-dt-idx="1" tabindex="0" class="page-link"">${index}</a>
				</li>
				<%}%>				
				
			<%
			index= index+1;
			}%>
			
			
			<%if((totalPage - currentPage) >= 8){%>
				<span class="gap">…</span>
				<li class="paginate_button page-item">
				<a href="${actionUrl}${totalPage - 1}${urlParas!}" data-dt-idx="1" tabindex="0" class="page-link">${totalPage - 1}</a>
				</li>
				<li class="paginate_button page-item">
				<a href="${actionUrl}${totalPage}${urlParas!}" data-dt-idx="1" tabindex="0" class="page-link">${totalPage}</a>
				</li>
			<%}%>
			
			<%if(currentPage == totalPage){%>
			<li class="paginate_button page-item next disabled">
				<span data-dt-idx="1" tabindex="0" class="page-link">next</span>
			</li>
			<%}else{%>
			<li class="paginate_button page-item next">
				<a href="${actionUrl}${currentPage + 1}${urlParas!}" data-dt-idx="1" tabindex="0" class="page-link" rel="next">next</a>
			</li>
			<%}%>
			
	</ul>
<!-- 		</div> -->
	</div>
</div>


