.table-scrollable{
	width: 100%;
overflow-x: auto;
overflow-y: hidden;
}
.dropzone {
    border: 1px solid rgba(0,0,0,0.03);
    min-height: 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0,0,0,0.03);
    padding: 20px;
}