
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/thairice/index');">${i18nMap["admin.common.mainPage"]}</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('${pthc}');">日志管理</a></li>
			<li class="active">查看</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">查看</span></h4>
				<div class="panel-tools">										
					<% include("/common/panel-tools.html"){} %>
				</div>
			</div>
			<div class="panel-body">	
				<form role="form" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">系统日志编号 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t2syslog.id!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">系统日志类型代码 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t2syslog.type_!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">用户ID </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t2syslog.userid!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">用户名 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t2syslog.username!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">操作 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t2syslog.action_!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">系统日志内容 </label>
							<div class="col-sm-7">
							<textarea class="autosize form-control" readonly="readonly">${escapeXml(t2syslog.content!)}</textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">系统日志生成日期 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t2syslog.add_time!, dateFormat="yyyy-MM-dd HH:mm:ss"}">
							</div>
						</div>
				</form>
			</div>
		
		</div>
	</div>
</div>	
