	<head>
	<meta charset="UTF-8" />
	</head>
	<script>
	$(window).resize(function(){ 
		if(document.body.clientWidth<1020){
			$('.nav-title').text('');
			$('.BbProductMenu').hide();
			$('.BbProductabs').show();
			$("#date_choose").siblings('label').hide();
			$('.skin').addClass('skin_mini');
			$('.skin li').click(function(){
				$('.navbar-right').hide();
			})
			$('.BbReportWrap').css('margin-left','-350px');
			$('.list-group-item-text').click(function(){
				$('.BbAreaSelect').hide();
			})
		}else{
			$('.nav-title').text('Thailand agricultural remote sensing monitoring platform ');
			$('.BbProductMenu').show();
			$('.BbProductabs').hide();
			$("#date_choose").siblings('label').show();
			$('.skin').removeClass('skin_mini');
		}
		
	})
	</script>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid" style="padding-right:0;">
			<div class="navbar-header" style="padding-left:15px;">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"> <span class="sr-only">toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<p class="nav-title navbar-brand">Thailand agricultural remote sensing monitoring platform </p>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav navbar-right">
					<li id="navbar_index"><a class="one" href="${cxt!}/jf/thairice/t3user" title="首页"></a></li>
					<% if(session.admin! ==null){ %>
					<li id="navbar_user">
						<a class="two dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#" title="用户"><span class="badge" id="count" style="position: absolute;top: 0;right: 0;margin: 5px;background-color: red;">${count!}</span></a>
						<ul class="dropdown-menu">
							<li><a href="${cxt!}/jf/thairice/t3user/self_center">Self center</a></li>
							<li><a href="${cxt!}/jf/thairice/t3user/my_message">My message</a></li>
							<li><a  style="cursor:pointer;" data-toggle="modal" data-target="#exampleModal">Log out</a></li>
						</ul>
					</li>
					<% }%>
					<li>
						<a class="three dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#" title="换肤"></a>
						<ul class="dropdown-menu skin" style="min-width:80px;">
							<li><a href="#" onclick="skin1()"><span style="background:#009cd4;"></span></a></li>
							<li><a href="#" onclick="skin2()"><span style="background:#07cfcd;"></span></a></li>
							<li><a href="#" onclick="skin3()"><span style="background:#09dba2;"></span></a></li>
						</ul>
					</li>
					<li><a class="four" href="#" title="帮助"></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Logout Modal-->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="${cxt!}/jf/thairice/t3user/exit">Logout</a>
				</div>
			</div>
		</div>
	</div>
<script>
//更新最新消息
setInterval("lx()",2000);
function lx(){
	sendAjax("${cxt!}/jf/thairice/t3user/refresh",null,function(res){
  		 $('#count').html(res.count);
  	 });
}
</script> 