

<div class="form-group">
	<label class="col-sm-2 control-label">发送人ID</label>
	<div class="col-sm-7">
		<input type="text" name="t8message.send_userid" value="${t8message.send_userid!}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">系统消息时间</label>
	<div class="col-sm-7">
		<div class="input-group">
		<input type="text" name="t8message.add_time" date-data-format="yyyy-mm-dd" data-data-viewmode="years" class="form-control data-picker" value="${t8message.add_time!, dateFormat="yyyy-MM-dd HH:mm:ss"}">
		<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		</div>
		<span class="help-inline col-sm-2"></span>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">系统消息内容</label>
	<div class="col-sm-7">
		<textarea name="t8message.content" class="autosize form-control">${escapeXml(t8message.content!)}</textarea>
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">消息类型代码</label>
	<div class="col-sm-7">
		<input type="text" name="t8message.type_" value="${t8message.type_!}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">群发标志</label>
	<div class="col-sm-7">
		<input type="text" name="t8message.flag" value="${t8message.flag!}" 
		class="form-control" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
		<span class="help-inline col-sm-2"></span>
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 1-100个任意字符 </span>
</div>
