@charset "utf-8";
/* CSS Document */
.nav-tabs{
	font-size:14px;
	margin-top:15px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color:#06a6ce;
}
.nav-tabs>li>a{
	color:#666;
}
.download{
	cursor:pointer;
	text-decoration:underline;
	color:#07b117;
	margin-right:6px;
}
.delete{
	cursor:pointer;
	text-decoration:underline;
	color:#ef4f4f;
}
