<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>欢迎页</title>
    <link type="text/css" rel="stylesheet" href="${cxt!}/ui/thairice/CSS/base.css">
    <link type="text/css" rel="stylesheet" href="${cxt!}/ui/thairice/CSS/jquery.fullPage-2.1.9.css"/>
    <link type="text/css" rel="stylesheet" href="${cxt!}/ui/thairice/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="${cxt!}/ui/thairice/CSS/welcome.css">
</head>
<body>
<ul id="fullpageMenu">
  <li data-menuanchor="page1" class="active"><a href="#page1">平台介绍</a></li>
  <li data-menuanchor="page2"><a href="#page2">公告信息</a></li>
  <li data-menuanchor="page3"><a href="#page3">产品样例</a></li>
  <li data-menuanchor="page4"><a href="#page4">用户登录</a></li>
  <li data-menuanchor="page5"><a href="#page5">联系我们</a></li>
</ul>
<div id="fullpage">
  <div class="section section1">
    <div class="container description">
    	<div class="jumbotron">
          <h1>Welcome to use</h1>
          <p>the agricultural remote sensing data system</p>
          <p><a class="btn btn-primary btn-lg" href="index.html" role="button">Enter the system</a></p>
        </div>
    </div>
  </div>
  <div class="section section2">
    <div class="container" style="width:1000px; margin:0 auto;">
    	<h2 class="announce_title">System of <span>announcement</span></h2>
        <ul class="list-group">
          <li class="list-group-item">泰国全境水稻最新长势监测产品现已发布（2018年7月13日）</li>
          <li class="list-group-item">Suphan Buri府水稻种植分布与面积测算产品已更新（2018年夏季）</li>
          <li class="list-group-item">Nakhon Phanom府旱情监测报告已更新（2018年7月3日）</li>
          <li class="list-group-item">Srakaeo府、Rayong府2018年夏季水稻产量估算现可查询（2018年7月3日）</li>
          <li class="list-group-item">泰国全境水稻最新长势监测产品现已发布（2018年7月13日）</li>
          <li class="list-group-item">Suphan Buri府水稻种植分布与面积测算产品已更新（2018年夏季）</li>
          <li class="list-group-item">Nakhon Phanom府旱情监测报告已更新（2018年7月3日）</li>
          <li class="list-group-item last">Srakaeo府、Rayong府2018年夏季水稻产量估算现可查询（2018年7月3日）</li>
        </ul>
    </div>
  </div>
  <div class="section section3">
    <div class="slide">
    	<div class="samples_wrap">
        	<div class="samples one">
            	<div class="samples_top">
            		<div class="sample_parameter">
                    	<div class="parameter_left">
                        	<p>Rice planting area</p>
                            <p>Rice drought</p>
                            <p>Rice condition</p>
                            <p>Rice production</p>
                        </div>
                        <div class="parameter_right">
                        	<p>99.999㎡</p>
                            <p>0.3</p>
                            <p>6000</p>
                            <p>99999KG</p>
                        </div>
                    </div>
                </div>
                <div class="samples_down">
                	<p class="img"><img src="${cxt!}/ui/thairice/Images/welcome/sample_a.png" width="660" height="340"></p>
                    <p class="text">Bang Nang Buat区水稻长势监测</p>
                </div>
            </div>
        	
        </div>
    </div>
    <div class="slide">
    	<div class="samples_wrap">
        	<div class="samples two">
            	<div class="samples_top">
            		<div class="sample_parameter">
                    	<div class="parameter_left">
                        	<p>Rice planting area</p>
                            <p>Rice drought</p>
                            <p>Rice condition</p>
                            <p>Rice production</p>
                        </div>
                        <div class="parameter_right">
                        	<p>99.999㎡</p>
                            <p>0.3</p>
                            <p>6000</p>
                            <p>99999KG</p>
                        </div>
                    </div>
                </div>
                <div class="samples_down">
                	<p class="img"><img src="${cxt!}/ui/thairice/Images/welcome/sample_b.png" width="660" height="340"></p>
                    <p class="text">Bang Nang Buat区水稻长势监测</p>
                </div>
            </div>
        	
        </div>
    </div>
    <div class="slide">
    	<div class="samples_wrap">
        	<div class="samples three">
            	<div class="samples_top">
            		<div class="sample_parameter">
                    	<div class="parameter_left">
                        	<p>Rice planting area</p>
                            <p>Rice drought</p>
                            <p>Rice condition</p>
                            <p>Rice production</p>
                        </div>
                        <div class="parameter_right">
                        	<p>99.999㎡</p>
                            <p>0.3</p>
                            <p>6000</p>
                            <p>99999KG</p>
                        </div>
                    </div>
                </div>
                <div class="samples_down">
                	<p class="img"><img src="${cxt!}/ui/thairice/Images/welcome/sample_c.png" width="660" height="340"></p>
                    <p class="text">Bang Nang Buat区水稻长势监测</p>
                </div>
            </div>
        	
        </div>
    </div>
    <div class="slide">
    	<div class="samples_wrap">
        	<div class="samples four">
            	<div class="samples_top">
            		<div class="sample_parameter">
                    	<div class="parameter_left">
                        	<p>Rice planting area</p>
                            <p>Rice drought</p>
                            <p>Rice condition</p>
                            <p>Rice production</p>
                        </div>
                        <div class="parameter_right">
                        	<p>99.999㎡</p>
                            <p>0.3</p>
                            <p>6000</p>
                            <p>99999KG</p>
                        </div>
                    </div>
                </div>
                <div class="samples_down">
                	<p class="img"><img src="${cxt!}/ui/thairice/Images/welcome/sample_d.png" width="660" height="340"></p>
                    <p class="text">Bang Nang Buat区水稻长势监测</p>
                </div>
            </div>
        	
        </div>
    </div>
  </div>
  <div class="section section4">
    <div class="welcome_login">
    	<form role="form"  id="loginForm">
          <h2></h2>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your account"  id="account" name="account">
            <input type="password" class="form-control" placeholder="Password" id="password" name="password">
            <div class="form-group" style="margin-left:0;">
            	<input type="text"  id="authCode"  name="authCode" class="form-control" style="width:400px; float:left; margin-top:0;" placeholder="Verification code"> <img id="autoCode" onclick="refresh()" style="width: 75px;border-radius: 3px;height: 32px;margin-left: 10px;cursor: pointer;" src="${cxt!}/jf/platform/authImg"/></span><span class="checkcode_text"  style="margin-left: 10px;" onclick="refresh()">Refresh</span>
            </div>
          </div>
          <div class="form-group">
            <a type="button"  onclick="doLogin()" class="btn btn-info btn-lg welcome_btn1" role="button">LOG IN</a>
          </div>
          <div class="form-group">
            <p class="line">or</p>
          </div>
          <div class="form-group">
            <a href="${cxt!}/jf/thairice/t3user/reg" type="button" class="btn btn-primary btn-lg welcome_btn1" role="button">SIGN UP</a>
          </div>
          <div class="form-group">
            <a class="forget_password" href="${cxt!}/jf/thairice/t3user/forget_pass">Forget password?</a>
          </div>
        </form>
    </div>
  </div>
  <div class="section section5">
    <div class="BbContact">
    	<div class="Contact_infowrap">
        	<div class="Contact_info">
                <h2>< Contact us ></h2>
                <div class="row">
                  <div class="col-xs-4 col-sm-4 one">
                    <address>
                        NO.9 Dengzhuang South Road,<br>
                        Haidian District, Beijing 100094,<br>
                        China
                    </address>
                  </div>
                  <div class="col-xs-4 col-sm-4 two">
                    <p>
                        +86(10)8217 8203 -13<br>
                        +86(10)8217 8236 -20
                    </p>
                  </div>
                  <div class="col-xs-4 col-sm-4 three">
                    <p>shaoyy@csu.ac.cn</p>
                  </div>
                </div>
                <div class="copyrights"><p>备案号 | 友情链接 | 友情链接 | 友情链接</p></div>
            </div>
        </div>
        
    </div>
  </div>
</div>
<script src="${cxt!}/ui/thairice/JS/jquery-2.0.0.min.js"></script>
<script src="${cxt!}/ui/thairice/JS/jquery.fullPage-2.6.7.min.js"></script>
<script src="${cxt!}/ui/thairice/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="${cxt!}/ui/thairice/JS/jquery.slimscroll.js"></script>
<script src="${cxt!}/jsFile/core.js"></script>
<script src="${cxt!}/jsFile/cipher-core.js"></script>
<script src="${cxt!}/jsFile/aes.js"></script>
<script src="${cxt!}/jsFile/pad-zeropadding-min.js"></script>
<script type="text/javascript" src="${cxt!}/ui/thairice/JS/layer/layer.js"></script>
<script type="text/javascript" src="${cxt!}/ui/thairice/JS/md5.js"></script>
<script type="text/javascript" src="${cxt!}/ui/thairice/common.js"></script>
<script>
	$(document).ready(function(e) {
        $('#fullpage').fullpage({
			paddingTop:'70px',
			fixedElements:'#header',
			anchors:['page1','page2','page3','page4','page5'],
			menu:'#fullpageMenu',
			navigation:true,
			navigationPosition:'left',
			scrollOverflow:true,
		});
    });
	   function refresh (){
	        var verify=document.getElementById('autoCode');
	        verify.setAttribute('src','${cxt!}/jf/platform/authImg?rand='+Math.random());
	    }
	    function doLogin() {
	        var accountVal = $("#account").val();
	        var passwordVal = $("#password").val();
	         if (accountVal == null || accountVal.trim() == '') {
	            showMessage("Account is  required and can\'t be empty");
	            return;
	        }
	        if (passwordVal == null || passwordVal.trim() == '') {
	            showMessage("Password is  required and can\'t be empty");
	            return;
	        } 
	        var data={account: accountVal,password: hex_md5(passwordVal), authCode:$("#authCode").val()}
	        showLoading();
	        sendAjax("${cxt!}/jf/thairice/t3user/doLogin",data,function(res){
	        	cancelLoading();
	            layer.msg(res.desc, {icon: 6});
	            if(res.code==1){
	                setTimeout(function(){
	                    if ("${returnUrl!}"== '') {
	                        window.location.href = "${cxt!}/jf/thairice/t3user/main";
	                    } else {
	                        window.location.href = "${cxt!}${returnUrl}";
	                    }
	                },500);
	            }else{
	            	refresh ();
	            }
	        });
	    }
</script>
</body>
</html>
