<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale-1">
<title>找回密码</title>
<link type="text/css" rel="stylesheet" href="${cxt!}/ui/thairice/CSS/base.css">
<link type="text/css" rel="stylesheet" href="${cxt!}/ui/thairice/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="${cxt!}/ui/thairice/CSS/password_getback.css">
<link type="text/css" rel="stylesheet" href="${cxt!}/ui/thairice/CSS/bootstrapValidator.css">
     <style type="text/css">
     .container {width: 830px; height: auto;background: white;border-radius: 16px;}
     </style>
</head>
<body style="background:url(${cxt!}/ui/thairice/Images/register/section4_bg.jpg) no-repeat center center;">
    <div class="BbPasswordWrap">
        <div class="BbPassword">
        	<h2></h2>
            <div class="container">
                <form id="restForm" class="form-horizontal" style="width:800px; margin:0 auto; padding-bottom:20px;">
                  <p class="title"> < Forget password > </p>
                  <div class="form-group" style="margin-top:20px;">
                    <label class="col-sm-2 control-label">Step-1</label>
                    <div class="col-sm-8">
                      <p style="text-align:left; margin-bottom:0;">Identify</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control"  id="email" name="email"  placeholder="Your e-mail like someone@exmaple.com">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-8" style="position:relative;">
                      <input type="text" class="form-control"   name="code" placeholder="Please enter the verification code from your e-mail"><span class="get_code"  onclick="send_email()">Get code</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Step-2</label>
                    <div class="col-sm-8">
                      <p style="text-align:left; margin-bottom:0;">Reset Password</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="pwd"  name="password"   placeholder="The passwords must contain at least 2 kinds of letters, numbers and symbols">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" name="again" placeholder="Re-enter new password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-8">
                      <button type="button" class="btn btn-primary btn-lg password_getback" onclick="rest_pass()">Ok</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
<script src="${cxt!}/ui/thairice/JS/jquery-2.0.0.min.js"></script> 
<script src="${cxt!}/ui/thairice/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="${cxt!}/ui/thairice/JS/layer/layer.js"></script>
<script type="text/javascript" src="${cxt!}/ui/thairice/JS/md5.js"></script>
<script type="text/javascript" src="${cxt!}/ui/thairice/common.js"></script>
<script src="${cxt!}/ui/thairice/JS/bootstrapValidator.js"></script>
<script>
       //发送邮箱
       function send_email(){
                     sendAjax("${cxt!}/jf/thairice/t3user/send_code",{email:$("#email").val()},function(res){
                     showMessage(res.desc);
                    });
            }
       //重置密码
          function rest_pass(){
        	  $("#restForm").bootstrapValidator('validate');
         	  if (!$("#restForm").data('bootstrapValidator').isValid()) {return;}
              sendAjax("${cxt!}/jf/thairice/t3user/rest_pass",$("#restForm").serialize()+"&pwd="+hex_md5($("#pwd").val()),function(res){
            	  layer.msg(res.desc, {icon: 6});
                  if(res.rc==1){
                	  setTimeout(function(){window.location.href = "${cxt!}/jf/thairice/t3user/login";},500);
                  }
              });
          }
          //参数校验 
          $("#restForm").bootstrapValidator({
             message: 'This value is not valid',
             feedbackIcons: {
                 /*输入框不同状态，显示图片的样式*/
                 valid: 'glyphicon glyphicon-ok',
                 validating: 'glyphicon glyphicon-refresh'
             },
             fields: {
                 'email': {
                     validators: {
                         notEmpty: {
                             message: 'The email address is required and can\'t be empty'
                         },
                         emailAddress: {
                             message: 'The input is not a valid email address'
                         },
                         remote: {//ajax验证。server result:{"valid",true or false}
                             url: '/jf/thairice/t3user/valiMailBoxForFindPass',
                             message: 'The email does not exist!',
                             delay: 2000,
                             type: 'POST',
                             //自定义参数
                             data: {
                                 mailBox: function (res) {
                                     return $('#email').val();
                                 }
                             }
                         }
                     }
                 },
                 'code': {
                     message: 'Password is invalid',
                     validators: {
                         notEmpty: {
                             message: 'The verification code is required and can\'t be empty'
                         }
                     }
                 },
                 /*验证*/
                 'password': {
                     validators: {
                         notEmpty: {
                             message: 'The new password is required and can\'t be empty'
                         },
                         regexp: {
                         	regexp: /^(?![\d]+$)(?![a-zA-Z]+$)(?![^\da-zA-Z]+$).{6,20}$/,
                             message: 'The passwords must contain at least 2 kinds of letters, numbers and symbols and the length is 6-20 characters'
                         }
                     }
                 },
                 'again': {
                     message: 'Password is invalid',
                     validators: {
                         notEmpty: {
                             message: 'Re-enter Password is required and can\'t be empty'
                         },
                         identical: {//相同
                             field: 'password',
                             message: 'Two input password must be consistent'
                         }
                     }
                 }
           }
       });
</script>
</body>
</html>
