
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/thairice/index');">${i18nMap["admin.common.mainPage"]}</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('${pthc}');">样本数据信息管理</a></li>
			<li class="active">查看</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">查看</span></h4>
				<div class="panel-tools">										
					<% include("/common/panel-tools.html"){} %>
				</div>
			</div>
			<div class="panel-body">	
				<form role="form" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">样本编号 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t9sample_info.id!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">用户ID </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t9sample_info.userid!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">源文件编号 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t9sample_info.identifier!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">样本名称 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t9sample_info.name_!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">样本数量 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t9sample_info.number_!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">样本路径 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t9sample_info.path_!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">样本类型内容 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t9sample_info.type_content!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">样本时间 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t9sample_info.datetime_!, dateFormat="yyyy-MM-dd HH:mm:ss"}">
							</div>
						</div>
				</form>
			</div>
		
		</div>
	</div>
</div>	
