@charset "utf-8";
/* CSS Document */
.skin li span{
	display:block;
	height:30px;
	width:36px;
	border-radius:5px;
}
.navbar-fixed-top {
  border: 0;
  height:60px;
  line-height:60px;
  background-color:#09dba2;
  color:#fff;
}
.navbar-nav>li{
	width:70px;
	height:60px;
	background:url(../../Images/index/nav_bar_right_bg02.png) no-repeat left center;
}
.navbar-nav>li.active{
	background-color:#00ffb9;
}
.navbar-default .navbar-nav>li.active>a{
	background-color:#00ffb9;
}
.navbar-nav>li>a{
	height:60px;
	padding:0;
	line-height:60px;
	width:70px;
}
.navbar-nav>li>a.one{
	background:url(../../Images/index/nav_bar_icon01.png) no-repeat center center;
}
.navbar-nav>li>a.two{
	background:url(../../Images/index/nav_bar_icon02.png) no-repeat center center;
}
.navbar-nav>li>a.three{
	background:url(../../Images/index/nav_bar_icon03.png) no-repeat center center;
}
.navbar-nav>li>a.four{
	background:url(../../Images/index/nav_bar_icon04.png) no-repeat center center;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color:#00ffb9;
}
.navbar-right{
	margin-right:0;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color:#00ffb9;
}
/*product-color*/
.BbProductMenu .list-group-item-heading{
	background:#09dba2;
}
.list-group-item-text.active.one{
	background:#00ffb9 url(../../Images/index/sample_icon01_pressed.png) no-repeat left center;;
	color:#fff;
}
.list-group-item-text.active.two{
	background:#00ffb9 url(../../Images/index/sample_icon02_pressed.png) no-repeat left center;
	color:#fff;
}
.list-group-item-text.active.three{
	background:#00ffb9 url(../../Images/index/sample_icon03_pressed.png) no-repeat left center;;
	color:#fff;
}
.list-group-item-text.active.four{
	background:#00ffb9 url(../../Images/index/sample_icon04_pressed.png) no-repeat left center;
	color:#fff;
}
.btn-primary{
	background-color: #09dba2;
    border-color: #09dba2;
}
.btn-primary:hover{
	background-color: #09be8d;
    border-color: #09be8d;
}
.btn-primary:focus{
	background-color: #09be8d;
    border-color: #09be8d;
}
.modal-title{
	color: #09dba2;
}
.modal_text span{
	color: #09dba2;
}
.flex-center .bar{
	background: #09dba2;
}
.btn-file{
	background:none;
	border:none;
}
.btn-file:hover{
	background:none;
	border:none;
}
.btn-file:focus{
	background:none;
	border:none;
}
#myTabs li.active a{
	color: #09dba2;
}
.form_title{
	color: #09dba2;
}
#myTabs li.active{
	border-bottom: 4px solid #09dba2;
}
.left_menu{
	background-color:#06a278; 
	padding:0;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #09dba2;
    border-color: #09dba2;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
	color: #09dba2;
}
.navbar-nav>li>.dropdown-menu li.checked{
	background-color:#87f3d7;
}
