<% var cssSec={ %>
<style>
.input-group{width: 250px;}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td{vertical-align: middle;text-align: left;}
.even{background-color: rgb(219, 239, 246)!important;}

.dt-button{
width: auto;
    background-color: #337ab7;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    border-color: #46b8da;
    height: -32px;
    line-height: 26px;
    display: inline-block;
}
a:hover { 
color:#002d54; 
text-decoration:none; 
} 
div.dataTables_wrapper div.dataTables_info {
    padding-top: 1.3em;
    white-space: nowrap;
    width: 30%;
    display: inline-block;
}
div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    width: 60%;
    float: right;
}
.data-table tr th, .data-table tr td {
    text-align: left;
    }
</style>
<% }; %> <% var contSec={ %>
<div class="user_query"  >
	<form role="form" class="form-inline" style="margin: -50px 0 -8px 0;">
		<div class="form-group">
			 <input id="Type" type="text" style="width: 170px;" placeholder="Type" class="form-control">
		</div>
		<div class="form-group">
			<input id="userName" type="text" style="width: 170px;" placeholder="Account" class="form-control" >
		</div>
		<div class="form-group">
			<input id="Action" type="text" style="width: 170px;" placeholder="Action" class="form-control" >
		</div>
		<div class="form-group">
			<label class="control-label" style="margin-right: 19px;">From</label>
			<div class="input-group" style="width: 160px;"  id="starttime8">
				<input id="datetimeBeg" type="text" class="form-control"> <span
					class="input-group-addon" ><i class="glyphicon glyphicon-calendar"></i></span>
			</div>
			<label class="control-label" style="margin-left: 13px;margin-right: 13px;">To</label>
			<div class="input-group" style="width: 160px;" id="endtime8">
				<input id="datetimeEnd" type="text" class="form-control"> <span
					class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
			</div>
		</div>
		<div class="form-group">
			<button id="btnSearch" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>Search</button>
		</div>
	</form>
</div>
<div class="table-responsive">
	<table class="table table-bordered data-table" id="dataTable09"
		width="100%" cellspacing="0" align="LEFT">
		<thead>
			<tr>
				<th>Id</th>
				<th>Type</th>
				<th>Account</th>
				<th>Action</th>
				<th>Content</th>
				<th>Creation time</th>
			</tr>
		</thead>
	</table>
</div>
<% }; %> <% var jsSec={ %>
<script type="text/javascript" src="${cxt!}/ui/DataTables/datatables.min.js"></script>
<script src="${cxt!}/ui/thairice/JS/dataTables.bootstrap4.js"></script>
<script src="${cxt!}/ui/thairice/area-select/distpicker.min.js"></script>
<script src="${cxt!}/ui/thairice/area-select/distpicker.data.js"></script>
<script type="text/javascript" src="${cxt!}/ui/thairice/JS/layer/layer.js"></script>
<script src="${cxt!}/ui/thairice/common.js"></script>
<script>
		$(function(){
		 //日期选择插件
    $('#starttime8').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: moment.locale('zh-cn')
    });
    $('#endtime8').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: moment.locale('zh-cn')
    });
	})
	</script>
<script src="${cxt!}/ui/thairice/js_rd/jquery-json.js"></script>
<script src="${cxt!}/ui/thairice/js_rd/t2syslog.js"></script>

<% }; %> <%
include("../layout.html",{cssSec:cssSec,contSec:contSec,jsSec:jsSec}){}
%>
