@charset "utf-8";
/* CSS Document */
html,body{
	width:100%;
	height:100%;
	overflow:hidden;
	overflow-y:auto;
}
.BbPasswordWrap{
	width:830px;
	height:650px;
	position:absolute;
	margin-left:-415px;
	margin-top:-325px;
	left:50%;
	top:50%;
}
.BbPassword{
	width:830px;
	height:650px;
	margin:0 auto;
	position:relative;
}
.BbPassword h2{
	width:100%;
	height:70px;
	background:url(../Images/welcome/yourlogo.png) no-repeat center center;
	margin-bottom:20px;
}
.container{
	width:830px;
	height:555px;
	background:url(../Images/register/register_cons_bg.png) no-repeat;
}
.container .title{
	font-size:18px;
	color:#00ccff;
	height:50px;
	line-height:50px;
	text-align:center;
	margin-top:10px;
	font-weight:bold;
	margin-bottom:0;
	padding-top:10px;
}
.form-control{
	height:36px;
}
.form-horizontal .form-group{
	line-height:40px;
	margin-bottom:9px;
}
.form-horizontal .control-label{
	padding-top:0;
}
.form-horizontal{
	background:url(../Images/password_getback/password_getback_left_bg.png) no-repeat 112px 74px;
}
.get_code{
	position:absolute;
	right:15px;
	top:0px;
	width:80px;
	height:36px;
	display:block;
	background:url(../Images/password_getback/get_code_bg.png) no-repeat;
	color:#fff;
	text-align:center;
	line-height:36px;
	cursor:pointer;
}
.get_code:hover{
	background:url(../Images/password_getback/get_code_bg_pressed.png) no-repeat;
}
.btn.password_getback{
	width:360px;
	height:40px;
	line-height:40px;
	border-radius:0;
	padding:0;
	margin-top:30px;
}

