@charset "utf-8";
/* CSS Document */
.modal-dialog{
	margin:200px auto;
}
.barline{
	float:left;
	width:500px;
	background:#FFF;
	border:2px solid #4DBF7D;
	height:16px;
	display:inline-block;
	/*border-radius:8px;*/
	display:none;
	position:absolute;
	left:50%;
	margin-left:-250px;
	top:250px;
}
.barline #line{float:left;height:12px;overflow:hidden;background:#4DBF7D}
.nav-tabs>li>a{
	color:#666;
}
.nav-tabs>li>a:focus, .nav-tabs>li>a:hover{
	background:none;
	color:#666;
}
.operation_tools{
	position:absolute;
	top:0px;
	left:0px;
}
.operation_tools li{
	float:left;
	width:60px;
	height:60px;
	background:url(../Images/production/map.png) no-repeat 0 0;
}
.operation_tools li:hover{
	background:url(../Images/production/map_pressed.png) no-repeat 0 0;
}
.operation_tools li.two{
	background-position:-60px 0;
}
.operation_tools li.three{
	background-position:-120px 0;
}
.operation_tools li.four{
	background-position:-180px 0;
}
.operation_tools li.five{
	background-position:-240px 0;
}
.operation_tools li.six{
	background-position:-300px 0;
}
.operation_tools li a{
	display:block;
	width:100%;
	height:100%;
}
a:focus{
	outline:none;
}
.block{
	width:440px;
	height:410px;
	position:absolute;
	left:50px;
	top:50%;
	margin-top:200px;
	display:none;
}
.block span{
	display:block;
	width:100%;
	height:100%;
	background:url(../Images/production/block.png) no-repeat;
}
.modes{
	width:330px;
	height:190px;
	position:absolute;
	right:10px;
	top:0px;
	display:none;
}
.samples{
	width:330px;
	height:190px;
	position:absolute;
	right:10px;
	top:200px;
	display:none;
}
.okay_btn{
	position:absolute;
	right:10px;
	top:400px;
	width:80px;
	height:30px;
	line-height:30px;
	padding:0;
	display:none;
}
.BbProductMenu .list-group-item-heading{
	height:30px;
	line-height:30px;
	background:#01abcb;
	padding-left:20px;
	color:#fff;
	border-radius:5px 5px 0 0;
}
.list-group-item{
	padding:0;
	border:none;
}
.list-group-item:last-child{
	padding-bottom:15px;
}
.BbProductMenu .list-group{
	border-radius:5px 5px 0 0;
	overflow:hidden;
	position:relative;
	-webkit-box-shadow:0 0 10px #ccc;  
  	-moz-box-shadow:0 0 10px #ccc;  
  	box-shadow:0 0 10px #ccc;  
}
.list-group .glyphicon-plus{
	position:absolute;
	right:10px;
	top:7px;
	color:#fff;
	cursor:pointer;
}
.modes_ul{
	margin:10px;
}
.modes_ul .color{
	width:30px;
	height:30px;
	display:inline-block;
	margin:0 8px;
}
.modes_ul li{
	height:30px;
	line-height:30px;
	margin-bottom:10px;
}
.modes_ul li span,.modes_ul li input,.modes_ul li select{
	float:left;
	margin-right:12px;
	font-size:16px;
}
.modes_ul li input{
	margin-top:8px;
}
.modes_ul li select{
	border-radi
}
.modes_ul .color.red{
	background:red;
}
.modes_ul .color.green{
	background:green;
}
.modes_ul .color.blue{
	background:blue;
}
.table-wrap{
	height:160px;
	overflow-y:auto;
	width:320px;
	margin:0 auto;
}
.table-wrap tr.title{
	background:#00aace;
	color:#fff;
	height:30px;
}
.table-wrap tr.title td{
	padding:0;
	line-height:30px;
	height:30px;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	text-align:center;
	height:30px;
	line-height:30px;
	padding:0;
}
.table-wrap tr td{
	text-align:center;
	height:30px;
	line-height:30px;
	padding:0;
}
.table-wrap table{
	margin-bottom:10px;
}
.table-wrap tr td .glyphicon-remove-sign{
	color:red;
	font-size:16px;
	cursor:pointer;
}
.color-pick{
	width:30px;
	height:15px;
	margin:7px auto;
}
.dialog-special{
	width:80%;
}
.modal-body .text{
	height:36px;
	line-height:36px;
	font-size:20px;
	color:#00aace;
}
.tab-form .input-group{
	margin-bottom:20px;
}
.tab-form h4{
	font-size:20px;
	font-weight:bold;
	color:#06a6ce;
	height:65px;
	line-height:65px;
	text-align:center;
}
.tab-form .form-group .btn{
	width:180px;
	margin:5px 10px;
}
.color-one{
	background:linear-gradient(to right, #f1354a,#f5ba48);
	width:180px;
	color:#fff;
}
.color-two{
	background:linear-gradient(to right, #f5ba48,#54d53a);
	width:180px;
	color:#fff;
}
.color-three{
	background:linear-gradient(to right, #54d53a,#0bdebe);
	width:180px;
	color:#fff;
}
.color-four{
	background:linear-gradient(to right, #0bdebe,#0b87de);
	width:180px;
	color:#fff;
}

.form-horizontal .form-group{
	margin-left:0;
	margin-right:0;
}
