@charset "utf-8";
/* CSS Document */
label{
	font-weight:normal;
	padding:0;
	float:left;
	line-height:34px;
	margin-right:15px;
}
.form-inline{
	margin-top:20px;
}
.form-inline .form-group{
	margin-right:20px;
	margin-bottom:15px;
}