@charset "utf-8";
/* CSS Document */
.approved{
	color:#07b117;
	text-decoration:underline;
	cursor:pointer;
}
.rejected{
	color:#ef4f4f;
	text-decoration:underline;
	cursor:pointer;
}
.edit{
	color:#0568e3;
	cursor:pointer;
}
label{
	font-weight:normal;
	height:34px;
	line-height:34px;
}
.glyphicon-comment{
	color:#0568e3;
	cursor:pointer;
}
.form-inline .form-group{
	margin-right:8px;
}
.user_form .form-group .form-control,.user_form .form-group .input-group{
	float:left;
	width:auto;
	margin-right:5px;
}

