    <!-- Sidebar -->
    <aside id="sidebar">
        <!-- Side Menu -->
        <ul class="list-unstyled side-menu">
            <li class="active">
                <a class="sa-side-process" href="${cxt!}/jf/datamotion/t8_archivefile/flow">
                    <span class="menu-item">运营流程面板</span>
                </a>
            </li>
            <li>
                <a class="sa-side-control" href="${cxt!}/jf/datamotion/t6_dwnloadfile/viewControlPanel">
                    <span class="menu-item">运营控制面板</span>
                </a>
            </li>
            <li>
                <a class="sa-side-statistical" href="${cxt!}/jf/datamotion/statistics/datastatistics">
                    <span class="menu-item">数据分析统计</span>
                </a>
            </li>
            <li>
                <a class="sa-side-monitor" href="${cxt!}/jf/datamotion/t11_initfoldertree/visual">
                    <span class="menu-item">系统运行监控</span>
                </a>
            </li>
            <li>
                <a class="sa-side-download" href="${cxt!}/jf/datamotion/t6_dwnloadfile/index">
                    <span class="menu-item">数据下载管理</span>
                </a>
                
            </li>
            <li >
                <a class="sa-side-storage" href="${cxt!}/jf/datamotion/t7_backupfile/backup">
                    <span class="menu-item">数据备份管理</span>
                </a>
               
            </li>
            <li class="dropdown">
                <a class="sa-side-file" href="javascript:void(0);">
                    <span class="menu-item">数据编目归档</span>
                </a>
                <ul class="list-unstyled menu-item">
                    <li><a href="${cxt!}/jf/datamotion/t8_archivefile/index">归档数据管理</a></li>
                    <li><a href="${cxt!}/jf/datamotion/t8_archivefile/index">流程面板</a></li>
                    <li><a href="${cxt!}/jf/datamotion/t8_archivefile/log">日志管理</a></li>
                    <li><a href="${cxt!}/jf/datamotion/t8_archivefile/conf">配置管理</a></li>
                </ul>
            </li>
            <li >
                <a class="sa-side-release" href="${cxt!}/jf/datamotion/t9_checkoutfiles/index">
                    <span class="menu-item">数据检出发布</span>
                </a>
                
            </li>
            <li>
                <a class="sa-side-sysConfig" href="${cxt!}/jf/datamotion/t11_initfoldertree/treeIndex">
                    <span class="menu-item">系统配置</span>
                </a>
            </li>
        </ul>
    </aside>
