
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/thairice/index');">${i18nMap["admin.common.mainPage"]}</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('${pthc}');">参数类型管理</a></li>
			<li class="active">查看</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">查看</span></h4>
				<div class="panel-tools">										
					<% include("/common/panel-tools.html"){} %>
				</div>
			</div>
			<div class="panel-body">	
				<form role="form" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">序号 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t5parameter_type.id!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">用户ID </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t5parameter_type.userid!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">多实体标识 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t5parameter_type.identifier!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">参数类型名称 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t5parameter_type.name_!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">参数备注 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t5parameter_type.remark!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">营业日期 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t5parameter_type.open_date!, dateFormat="yyyy-MM-dd HH:mm:ss"}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">DAC校验 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t5parameter_type.dac!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">交易发起渠道类别 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t5parameter_type.busi_type!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">交易发起渠道编号 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${escapeXml(t5parameter_type.busi_code!)}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">版本号 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t5parameter_type.version!}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">时间戳 </label>
							<div class="col-sm-7">
							<input type="text" class="form-control" readonly="readonly" value="${t5parameter_type.datetime_!, dateFormat="yyyy-MM-dd HH:mm:ss"}">
							</div>
						</div>
				</form>
			</div>
		
		</div>
	</div>
</div>	
